<div class="welcome-container">
<section class="dashboard">
    <div class="dashboard-header">
        <h2 class="title">Analytics Dashboard</h2>
    </div>

    <div class="stats-cards">
        <!-- Total Products Card -->
        <div class="custom-card">
            <div class="card-header">
                <h3>Total Products</h3>
            </div>
            <div style="font-size: 50px" class="card-content">
                {{ totalProducts }}
            </div>
        </div>


      <div *ngIf="lastAddedProduct" class="custom-card">
        <div class="card-header">
          <h3>Last Added Product</h3>
        </div>
        <div class="card-content">
          <p><strong>{{ lastAddedProduct.name }}</strong></p>
          <p>Price: ${{ lastAddedProduct.price }}</p>
        </div>
      </div>

        <!-- Product with Maximum Price -->
        <div class="custom-card">
            <div class="card-header">
                <h3>Most Expensive Product</h3>
            </div>
            <div class="card-content">
                <p><strong>{{ maxPriceProduct?.name }}</strong></p>
                <p>Price: ${{ maxPriceProduct?.price }}</p>
            </div>
        </div>

        <!-- Product with Minimum Price -->
        <div class="custom-card">
            <div class="card-header">
                <h3>Cheapest Product</h3>
            </div>
            <div class="card-content">
                <p><strong>{{ minPriceProduct?.name }}</strong></p>
                <p>Price: ${{ minPriceProduct?.price }}</p>
            </div>
        </div>


    </div>
</section>
</div>
