.products {
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  max-width: 1200px;
  margin: 50px auto;
}



.products__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}



.product-link {
  cursor: pointer;
  color: #007bff;
  text-decoration: underline;
}







  /* Content area */


  .e-dlg-content {
    margin: 8px;
    padding: 5px;


    p {
      line-height: 1.6;


      strong {
        color: #1976d2;
        font-weight: 500;
      }
    }
  }

  /* Image styling */
  img {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
    max-height: 270px;
    max-width: 270px;

  }

  /* Price highlight */
  p:last-child {
    font-size: 20px;
    color: #4caf50;
    margin: 10px;
  }






