
<ejs-toolbar cssClass="custom-toolbar">
  <e-items>
    <!-- Logo -->
    <e-item [template]="Product_Management" align='Left'></e-item>

    <!-- Spacer -->
    <e-item template='<span class="toolbar-spacer"></span>'></e-item>

    <!-- Navigation links -->
    <e-item [template]="homeLink" align='Right'></e-item>
    <e-item [template]="productsLink" align='Right'></e-item>
    <e-item [template]="addLink" align='Right'></e-item>
    <e-item [template]="dashLink" align='Right'></e-item>
  </e-items>
</ejs-toolbar>

<ng-template #Product_Management>
  <a routerLink="/" class="toolbar-link">Product Management</a>
</ng-template>

<ng-template #homeLink>
  <a routerLink="/" class="toolbar-link">Home</a>
</ng-template>

<ng-template #productsLink>
  <a routerLink="/products" class="toolbar-link">Products</a>
</ng-template>

<ng-template #addLink>
  <a routerLink="/add" class="toolbar-link">Add Product</a>
</ng-template>

<ng-template #dashLink>
  <a routerLink="dashboard" class="toolbar-link">Dashboard</a>
</ng-template>



